*{
    margin: 2%;
}
.container{
    background-color: crimson;
    text-align: center;
    justify-content: center;
    align-content: center;
    /* border: solid black; */
    border-radius: 25%;
    background-image: linear-gradient(rgba(253, 4, 4, 0.151),rgb(169, 226, 226)),url(./—Pngtree—cool\ technology\ sense\ information\ technology_1046698.jpg);
}
.success{
    color: green;
}
.space li{
    background-color:yellow;
    border: 1px solid black;
    border-radius: 25px;
    margin: auto;
    width: 10%;
    margin: 20px;
    display: inline-flex;  
}
.success{
    color-adjust: red;
    font-size: small;
}
.buts{
    display: flex;
    /* margin: auto; */
    text-align: center;
    justify-content: center;
    align-content: center;
}
.but1 button{
    width: 150px;
    margin: auto;
    height: 50px;
    background-color:whitesmoke;
    border: 1px solid wheat;
    color: black;
    outline: none;
    transition: .6s ease;
    border-radius: 25px;
    
}
.but1 button:hover{
    cursor: pointer;
    background-color: rgb(238, 232, 221);
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}
.but2 button{
    width: 150px;
    margin: auto;
    height: 50px;
    background-color:whitesmoke;
    border: 1px solid wheat;
    color: black;
    outline: none;
    transition: .6s ease;
    border-radius: 25px;
    
}
.but2 button:hover{
    cursor: pointer;
    background-color: rgb(238, 232, 221);
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}
.but3 button{
    width: 150px;
    margin: auto;
    height: 50px;
    background-color:whitesmoke;
    border: 1px solid wheat;
    color: black;
    outline: none;
    transition: .6s ease;
    border-radius: 25px;
    
}
.but3 button:hover{
    cursor: pointer;
    background-color: rgb(238, 232, 221);
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}
.but4 button{
    width: 150px;
    margin: auto;
    height: 50px;
    background-color:whitesmoke;
    border: 1px solid wheat;
    color: black;
    outline: none;
    transition: .6s ease;
    border-radius: 25px;
    
}
.but4 button:hover{
    cursor: pointer;
    background-color: rgb(238, 232, 221);
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}
.heading{
    text-align: center;
    
}
@media screen  and (min-width: 425px) and (max-width:720px){
    .container{
        display: flex;
        height: 500px;
    }
    .buts{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .textField input{
        display: flex;
        flex-direction: column;
        width: 100%;
       
    }
}
@media screen and (max-width:425px){
    .container{
        display: flex;
        height: 500px;
    }
    .buts{
        display: flex;
        flex-direction: column;
        width: 100%;
       
    
    }
    .textField input{
        display: flex;
        flex-direction: column;
        width: 100%;
       
    }
}